.value-widget {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  .value-widget .title {
    color: #ccc;
    margin-bottom: 0.5rem; }
  .value-widget .value {
    color: #333;
    font-weight: bold;
    flex-grow: 1;
    font-size: 2rem; }
