.viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    text-align: center;
    color: white;
    height: 5rem;

    .label {
      color: #666;
    }

    .iconBackWrapper {
      margin-left: 1rem;
    }

    h2 {
      flex-grow: 1;
    }

    .buttons {
      margin-right: 1rem;
    }
  }

  .body {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    .wrapperComponent {
      width: 60%;
    }

    .wrapperEditor {
      width: 40%;
      border-top: 10px solid #282828;
    }
  }
}