.viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .viewer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    text-align: center;
    color: white;
    height: 5rem; }
    .viewer .header .label {
      color: #666; }
    .viewer .header .iconBackWrapper {
      margin-left: 1rem; }
    .viewer .header h2 {
      flex-grow: 1; }
    .viewer .header .buttons .button {
      margin-right: 1rem; }
  .viewer .body {
    flex-grow: 1;
    display: flex;
    justify-content: space-between; }
    .viewer .body .wrapperComponent {
      width: 60%; }
    .viewer .body .wrapperEditor {
      width: 40%;
      border-top: 10px solid #282828; }
